* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family:'Roboto', sans-serif;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.vertical_container {
    margin: auto;
    width: 73%;
    position: relative;
}

section.sopra>.vertical_container {
    height: 550px;
    text-align: center;
}

/* siteheader */
header {
    height: 70px;
}

header div, nav {
    display: inline-block;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

header>div {
    width: 25%;
}

header>nav {
    width: 49%;
}
header>div.logo {
    position:relative
}

header>div.logo img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
header>nav ul {
    line-height: 70px;
    height: 70px;
}

header>nav li {
    list-style: none;
    display: inline-block;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    height: 70px;
    margin-left: 15px;
    margin-right: 15px;
}

header>nav li a {
    text-decoration: none;
    color: #fbfbfb;
}

header>div.pulsante {
    position:relative;
}

header>div.accedi>button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-color: #fbfbfb;
}
/* /siteheader */
section.sopra {
    color: #fbfbfb;
}

section.sopra {
    background-image: url(../img/jumbo.png);
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
} 
  
button {
    border-radius: 20px;
    padding: 10px 15px;
    border-style: none;
}

div.sopra {
    text-align: center;
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
}

h2 {
    font-size: 2.9rem;
    margin-bottom: 2rem;
    font-weight: 700;
}
div.sopra p {
    line-height: 2rem;
    margin-bottom: 1.2rem;
}

div.pulsanti>button {
    height: 2.5rem;
    line-height: 2.5rem;
    vertical-align: middle;
    text-align: center;
    padding: 0 1.5rem;
    border-radius: 2rem;
    margin: 0 10px;
    font-weight: 400;
}
div.pulsanti>button.download {
    background-color: #fbfbfb;
}

button.download .fas.fa-long-arrow-alt-down {
    margin-right: 5px;
}

div.pulsanti>button.browser {
    background-color: black;
    color: #fbfbfb;
}

/* mainsite */
main {
    color: black;    
}


main div.img_container {
    width: 65%;

}

div.clearfix>div {
    float: left;
}

div.text_area {
    width: 35%;
    padding-top: 30px;
}

section.one div.text_area {
    padding-left: 35px;
}

main section {
    padding: 100px 0px;
}

section p {
    line-height: 1.8rem;
    font-size: 1.2rem;
}

section.four div.text_block {
    margin: 30px 67px;
}
/* /mainsite */

/* wave */
.wave {
    height: 75px;
    background-image: url(../img/wave.svg);
    filter: opacity(0.03);
    background-repeat: no-repeat;
    background-size: cover;
}

div.wave.gtow {
    transform: rotate(180deg);
}
/* /wave */

/* section2 */

section.two img {
   margin-right: 0;
   margin-left: auto;
}

section.greyback {
    background-color: #F7F7F7;
}

/* /section2 */

/* section3 */
section.three .text_area {
    padding-left: 3%;
}
/* section3 */

/* section4 */
section.four {
    text-align: center;
}
/* /section4 */